/* main */

main .postoTabellaGrossa {
  display: flex;
  flex-wrap: wrap;
  width: 752px;
  height: 32px;
  padding: 0px;
  border: 2px solid black;
}

main .postoTabellaGrossa div {
  border: 2px solid black;
  padding: 8px;
}

.tabellagiocatore2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
